*{
    margin: 0%;
}
.containerbt{
    width: 100%;
    height: 50px;
}

.card{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.car-container{
    display: flex;
}

.footer{
    height: 300px;
}
.agence{
    height: 150px;
    object-fit: cover;

}